.navBottom {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  bottom: 0;
  z-index: 999;

  .lang {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin: 0 20px;
    transition: 0.6s;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    background: rgba(20, 20, 18, 0.6);
  }
  .lang:hover {
    opacity: 0.6;
  }
}
